language: ruby
rvm:
  - 2.3.0
dist: xenial
services:
  - xvfb
  - docker
before_install:
  - sudo add-apt-repository ppa:jonathonf/vim -y
  - sudo apt update
  - sudo apt install vim-gtk3
  - sudo apt install exuberant-ctags
stages:
  - name: rake
    if: branch != docker
  - name: docker
    if: branch = docker
jobs:
  include:
    - stage: rake
      script: bundle exec rake
    - stage: docker
      script: sh ./run-test.sh
before_script:
  - which vim
  - vim --version
  - ctags --version
  - cat Gemfile.lock
  - "export DISPLAY=:99.0"
